*{
    font-family: "Raleway", sans-serif;
}
header{
    background-color: #F1F8E8;
}
header span{
    color: #55AD9B;
}
.nav-item a{
    color: #55AD9B;
}
#nav-button{
    background-color: #55AD9B;
}
.nav-item a:hover{
    color: #55AD9B
}
.nav-item a:visited{
    color: #55AD9B;
}
body{
    background-color: #95D2B3;
}
.classh1{
    color: #55AD9B;
}
#habilidades{
    background-color: #F1F8E8;
}
#testimonios{
    background-color: #F1F8E8;
}
#redes{
    background-color: #F1F8E8;
}
#frase{
    font-style: oblique;
    color: #F1F8E8;
}